.nav {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.nav a, .nav button {
  background-color: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.nav a:hover, .nav button:hover, .nav a:focus, .nav button:focus {
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;

}

.nav a:global(.active){
  background: white;
  box-shadow: 0 0 0 3px #fea;
  fill: #fb1;
}

/**
Estilizar tags dentro do svg
{
  (...) svg * > pegar todos os childrens dentro do svg
}
<svg width="28" height="28" viewBox="0 0 28 28" fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <rect x="6" y="14" width="2" height="8" rx="1" fill="#333"/>
  <rect x="20" y="6" width="2" height="16" rx="1" fill="#333"/>
</svg>
*/
.nav a:global(.active) svg > * { 
  fill: #fb1;
}


.mobileButton {
  background-color: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
  padding: 0px;
}

.mobileButton::after{
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  box-shadow: 0px -6px black, 0px 6px black; /* sintax básica offset-x | offset-y | color */
}